# Dependencies
node_modules/

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Hardhat / Foundry
cache/
typechain-types/

# Optional
.env
.env.local

# OS
.DS_Store

# Private ops (never commit)
docs/private/
